section {
    height: 100vh;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
}

.calculator{
    width: 400px;
    height: 500px;
     background-color: rgb(104, 104, 238);
    border-radius: 1rem;
  
}

#display{
    height: 100px;
    background-color: white;
    width: 350px;
    margin: 2rem auto;
}
#values, #answer{
    text-align: right;
    margin-right: 10px;
    font-size: 30px;
}
#answer{
    font-size: 50px;
    margin-top: 15px;
}

.buttons{
    width: 360px;
    margin: 0rem auto;
    display: flex;
    background-color: purple;
}
.buttons-list button{
    width: 50px;
    height: 50px;
    margin: 10px 12px 10px 0;
    background-color: rgba(0, 0, 0, 0.308);
    color: white;
}
.symbols button{
    width: 70px;
    height: 50px;
    margin: 10px 0 10px 16px;
    background-color: white;
    color: black;
}